[defaults]
host_key_checking      = false
ansible.inventory_path = .
inventory              = hosts
remote_user            = adminroot
deprecation_warnings   = false
ansible_connection     = ssh
ansible_user           = adminroot